/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

/** end reset css**/
.instagram {
  width: 20px;
  height: 20px;
}

#introduction {
  margin-block: 130px;
}

body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

section {
  margin: 50px 0;
}

.login-container {
  min-height: 75vh;
  min-width: 500px;
  display: flex;
  justify-content: center;
}

.projects {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 8px 20px;
  border-radius: 50px;
  font-family: "Syne";
  font-weight: 700;
  border: 1px solid #1d6154;
  background-color: transparent;
  color: #1d6154;
  font-size: 1.1rem;
  cursor: pointer;
}

form {
  padding: 20px 0;
  font-family: Work sans, sans serif;
  font-size: 1rem;
}

form input[type="email"],
form input[type="password"] {
  display: block;
  margin: 10px 0;
  min-width: 350px;
  min-height: 40px;
  padding: 0 20px;
  border: none;
  outline: none;
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.1);
  z-index: 0;
  font-family: Work sans, sans serif;
  font-size: 1rem;
}

form input[type="submit"] {
  padding: 10px 20px;
  min-width: 40%;
  border: none;
  display: block;
  margin: 30px auto;
  cursor: pointer;
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.1);
}

#login-validbtn {
  margin-block: 40px;
}

form a {
  display: block;
  margin: -10px auto 0 auto;
  text-align: center;
  text-decoration: underline;
}

.form-alert {
  color: red;
  font-weight: 700;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}

#introduction {
  display: flex;
  align-items: center;
}

#introduction figure {
  flex: 1;
}

#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

/* Filters */

.filters {
  text-align: center;
  width: 60%;
  display: block;
  margin: 0 auto 30px auto;
  padding-block: 25px;
}

.active {
  background-color: #1d6154;
  color: white;
}

/* Filters End */

/* Gallery Edit btn */
.edit {
  display: none;
  align-items: center;
  gap: 10px;
  height: 20px;
  padding: 5px;
}

/* Gallery */

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
  height: 450px;
  margin-bottom: 5px;
  aspect-ratio: 9/16;
}

/* Gallery End */

/* Modal & ModalAdd */

.modal,
.modal-add {
  display: none;
  position: absolute;
  width: 500px;
  min-height: 800px;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 100px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 5;
}

.modal h2,
.modal-add h2 {
  color: black;
  padding-top: 40px;
}

.modal-exit,
.modal-add-exit {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2rem;
  padding: 5px;
  cursor: pointer;
}

/* Modal */

.modal-trash {
  position: absolute;
  top: 6px;
  right: 6px;
  color: #ffffff;
  padding: 3px 4px;
  background-color: black;
  border-radius: 2px;
  cursor: pointer;
}

.modal-img-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 30px 0;
}

.modal-img-container div {
  position: relative;
}

.modal-img-container img {
  object-fit: cover;
  width: 100%;
  height: 130px;
  margin-bottom: 3px;
}

.modal hr {
  width: 100%;
  margin-block: 10px;
}

/* Modal End */

/* Modal Add */

.modal-add form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-add-prev {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 2rem;
  padding: 5px;
  cursor: pointer;
}

.modal-add-del {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.modal-add-del button {
  background-color: #1d6154;
  color: white;
  padding: 12px 0;
  margin-block: 10px;
  width: 50%;
}

#text,
#select {
  padding: 20px 10px;
  box-shadow: 0 0px 4px 1px rgba(0, 0, 0, 0.15);
  border: none;
  outline: none;
}

.file-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8f1f6;
  border-radius: 3px;
  padding: 50px 0;
  margin-top: 30px;
  margin-bottom: 20px;
}

.filer-container img {
  max-width: 100%;
  max-height: 250px;
}

.file-container-placeholder {
  font-size: 5rem;
  color: #b9c5cc;
}

#file-label {
  background-color: #cbd6dc;
  padding: 15px 30px;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
}

input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.modal-add hr {
  width: 100%;
  margin: 20px 0 10px 0;
}

.modal-add input[type="submit"] {
  background-color: #a7a7a7;
  color: white;
  padding: 12px 0;
  margin-block: 10px;
  width: 50%;
  font-size: 1rem;
}

/* Modal Add End */

#contact {
  width: 50%;
  margin: auto;
}

#contact > * {
  text-align: center;
}

#contact h2 {
  margin-bottom: 20px;
}

#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 45px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
  margin: 2em 0 1em 0;
}

#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* UTILS */

.uppercase {
  text-transform: uppercase;
}

.m-top5 {
  margin-top: 5px;
}

.red {
  color: red;
}
